* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
  height: 100vh;
}

h2, p, li {
  color: #fff;
}

h2 {
  padding: 10px 0;
}

p {
  font-size: 1.8rem;
}

/* Container */
.container {
  margin: 260px auto;
}

/* Advert */
.advert {
  box-shadow: 5px 5px 20px 5px hsl(218, 22%, 67%);
}

/* Top Container */
.top-container { 
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-container h1 {
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  margin-bottom: 30px;
}

.top-container h2 {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.top-container p {
  color: hsl(218, 22%, 67%);
  margin: 0;
}

/* Left Container */
.left-container {
  background-color: hsl(179, 62%, 43%);
  border-bottom-left-radius: 10px;
}

.left-container .price {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
}

.left-container .perMonth {
  display: inline-block;
  margin: 0 20px 0;
  color: hsl(179, 62%, 70%);
}

.btn {
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  padding: 20px 0;
  margin-top: 55px;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 3px 3px 20px hsl(179, 62%, 35%);
  border-radius: 10px;
}

.btn:hover {
  color: #fff;
  box-shadow: 0 0 35px #66780E;
}

/* Right Container */
.right-container {
  background-color: hsl(179, 62%, 48%);
  border-bottom-right-radius: 10px;
}

.right-container li {
  list-style: none;
  font-size: 1.6rem;
  color: hsl(179, 62%, 85%);
}

/* Footer */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 768px) {
  .top-container h2 {
    font-size: 1.5rem;
  }

  .top-container p {
    font-size: 1.2rem;
  }

  .left-container .perMonth {
    margin: 0 0 10px;
  }

  .full-access {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  .left-container {
    border-bottom-left-radius: 0;
  }

  .right-container {
    border-bottom-left-radius: 10px;
  }
}
